{% block element_moorl_shop_the_look %}
    {% set priceTotal = 0 %}

    <div class="cms-element-{{ element.type }}">
        <div class="{% if element.config.enableList.value %}hotspot-area{% else %}w-100{% endif %}">
            <div class="hotspot-area-image">
                {% if element.config.videoActive.value %}
                    <video class="video" playsinline preload="none" muted autoplay loop>
                        <source src="{{ element.data.media.media.url }}" type="{{ element.data.media.media.mimeType }}">
                    </video>
                {% else %}
                    <img src="{{ element.data.media.media.url }}" alt="{{ element.data.media.media.alt }}">
                {% endif %}

                <div class="hotspot-area-image-overlay">
                    {% for product in element.data.products.products %}
                        {% set price = product.calculatedPrice %}
                        {% set positionTop = element.config.productMediaHotspots.value[product.id].top|trim('%')|number_format %}

                        {% if page.product.calculatedPrices|length == 1 %}
                            {% set price = product.calculatedPrices.first %}
                        {% endif %}

                        {% if element.config.enableDirectUrl.value %}
                            <a href="{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}"
                               class="hotspot-area-image-overlay-dot"
                               data-toggle="tooltip"
                               data-placement="top"
                               style="top: {{ element.config.productMediaHotspots.value[product.id].top }}; left: {{ element.config.productMediaHotspots.value[product.id].left }}"
                               title="{{ product.translated.name }}">
                                {% if element.config.enableAnimatedHotspots.value %}<div class="pulse"></div>{% endif %}
                            </a>
                        {% else %}
                            <div class="hotspot-area-image-overlay-dot"
                                 tabindex="-1"
                                 style="top: {{ element.config.productMediaHotspots.value[product.id].top }}%; left: {{ element.config.productMediaHotspots.value[product.id].left }}%">
                                {% if element.config.enableAnimatedHotspots.value %}<div class="pulse"></div>{% endif %}
                                <div class="hover-card {% if positionTop > 50 %}hover-card-top{% endif %}">
                                    {% if product.cover.media.url %}
                                        {% set attributes = {
                                            'alt': product.translated.name
                                        } %}
                                        {% sw_thumbnails 'product-image-thumbnails' with { media: product.cover.media } %}
                                    {% else %}
                                        {% sw_icon 'placeholder' style {'size': 'fluid'} %}
                                    {% endif %}

                                    <h4>{{ product.translated.name }}</h4>

                                    {% if element.config.enablePrices.value %}
                                        {% if context.currentCustomerGroup.id != config('MoorlCmsShopTheLook.config.customerGroup') %}
                                            <p>{{ price.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}</p>
                                        {% endif %}
                                    {% endif %}

                                    <a href="{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}"
                                       class="btn btn-block btn-primary btn-buy"
                                       data-modal-class="quickview-modal"
                                       data-url="{{ path('widgets.quickview.minimal', { 'productId': product.id }) }}"
                                    >{{ "listing.boxProductDetails"|trans|striptags }}</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if element.config.enableList.value %}
            <div class="product-list">
            <form action="{{ path('frontend.checkout.line-item.add') }}"
                  method="post"
                  data-add-to-cart="true">
                {{ sw_csrf('frontend.checkout.line-item.add') }}
                <input type="hidden" name="redirectTo" value="frontend.cart.offcanvas">

                <div class="product-list-content">
                    {% for product in element.data.products.products %}
                        {% set price = product.calculatedPrice %}

                        {% if page.product.calculatedPrices|length == 1 %}
                            {% set price = product.calculatedPrices.first %}
                        {% endif %}

                        {% set priceTotal = priceTotal + price.unitPrice %}

                        <input type="hidden" name="lineItems[{{ product.id }}][id]" value="{{ product.id }}">
                        <input type="hidden" name="lineItems[{{ product.id }}][type]" value="product">
                        <input type="hidden" name="lineItems[{{ product.id }}][referencedId]" value="{{ product.id }}">
                        <input type="hidden" name="lineItems[{{ product.id }}][stackable]" value="1">
                        <input type="hidden" name="lineItems[{{ product.id }}][removable]" value="1">
                        <input type="hidden" name="lineItems[{{ product.id }}][quantity]" value="1">

                        <div class="product-list-content-item">
                            {% block element_moorl_shop_the_look_list_item %}
                                {% if product.cover.media.url %}
                                    {% set attributes = {
                                        'alt': product.translated.name
                                    } %}
                                    {% sw_thumbnails 'product-image-thumbnails' with { media: product.cover.media } %}
                                {% else %}
                                    {% sw_icon 'placeholder' style {'size': 'fluid'} %}
                                {% endif %}

                                <div class="product-list-content-item-info">
                                    <h4>
                                        <a href="{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}"
                                           data-modal-class="quickview-modal"
                                           data-url="{{ path('widgets.quickview.minimal', { 'productId': product.id }) }}"
                                        >{{ product.translated.name }}</a>
                                    </h4>
                                    {% if element.config.enablePrices.value %}
                                        {% if context.currentCustomerGroup.id != config('MoorlCmsShopTheLook.config.customerGroup') %}
                                            <div class="product-list-content-item-info-price">
                                                {{ price.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endfor %}
                </div>

                {% if element.config.enableAddToCart.value %}
                    {% if context.currentCustomerGroup.id != config('MoorlCmsShopTheLook.config.customerGroup') %}
                        <hr>
                        <div class="product-list-buy">
                            <div class="product-list-buy-price">
                                <div>{{ "account.orderItemColumnTotal"|trans|sw_sanitize }}:</div>

                                <div class="product-list-buy-price-total">
                                    {% block element_moorl_shop_the_look_buy_price_total %}
                                        {{ priceTotal|currency }}{{ "general.star"|trans|sw_sanitize }}
                                    {% endblock %}
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block btn-buy"
                                    title="{{ "detail.addProduct"|trans|striptags }}"
                                    aria-label="{{ "detail.addProduct"|trans|striptags }}">
                                {{ "detail.addProduct"|trans|sw_sanitize }}
                            </button>
                        </div>
                    {% else %}
                        <hr>
                        <div class="product-list-buy">
                            <button disabled
                                    class="btn btn-primary btn-block btn-buy"
                                    title="{{ "detail.addProduct"|trans|striptags }}"
                                    aria-label="{{ "detail.addProduct"|trans|striptags }}">
                                {{ "detail.addProduct"|trans|sw_sanitize }}
                            </button>
                        </div>
                    {% endif %}
                {% endif %}
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}
